{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>LabGlo : Drive</title>
{% endblock %}


{% block content %}

<div class="page-title-cont page-title-large page-title-img grey-dark-bg pt-250" style="background-image: url(/static/images/placement-drive.jpg)">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-title">Drive Details</h1>
            </div>
      
            <div class="col-md-4">
                <div class="breadcrumbs">
                    <a href="{% url 'core:home' %}">Home</a>
                    <span>/</span>
                    <span class="bread-current"><a href="{% url 'career:drive_home' %}">Drives</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- COTENT CONTAINER -->
<div class="container p-140-cont">
    <div class="row">
        <!-- CONTENT -->
        <div class="col-sm-8 blog-main-posts">
            <!-- <p><a href="{% url 'blog:blog_home' %}">Go Back</a></p> -->
            {% if drive_obj %}
                <div class="blog-post wow fadeIn pb-50">
                    <div class="post-prev-title">
                        <h3><a href="{{ post_obj.get_absolute_url }}">{{ drive_obj.title }}</a></h3>
                    </div>
                    <div class="post-prev-info">
                        Published on {{ drive_obj.created_on }}
                    </div>
                  
                    <div class="post-prev-text">
                        <p><a href="{% url 'career:drive_registration' slug=drive_obj.slug %}" id="register"><button type="submit" class="button medium gray">Register</button></a></p>
                        <p>{{ drive_obj.description|safe }}</p>
                        <p>From Date : {{ drive_obj.from_date }}</p>
                        <p>To Date   : {{ drive_obj.to_date }}</p>
                        <p>Location  : {{ drive_obj.location }}</p>
                        <p>Last Date To Apply : {{ drive_obj.last_date_to_apply }}</p>
                    </div>
                </div>
                <div id="disqus_thread"></div>
            {% else %}
                <div class="col-sm-8 blog-main-posts">
                    <p>No data.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

