{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
<table width="100%" border="0" cellspacing="0" cellpadding="20" style="background:#f2f2f2">
  <tr>
    <td><table width="600" border="0" align="left" cellpadding="20" cellspacing="0" style="background:#fff">
     
      <tr>
        <td style="line-height:18px; padding:40px;" >Dear <b>{{ user_obj.first_name }},</b><br/><br/>

This letter is to let you know that you have been selected to attend the Placement Drive on Saturday, 24-06-2017. We appreciate your interest in LabGlo and the position of Trainee Software Engineer for which you applied. <br/><br/>

You can expect a phone call or an email from our Human Resources staff soon to confirm your availability and allotted Time Slot.<br>
You are required to submit the following on 24-06-2017 :<br>
1) Relevant certificates of Academic qualifications. <br>
2) Copy of your resume. <br>
</td>
        </tr>
      <tr>
        <td style="line-height:18px; padding:40px; font-size:11px;" >Thanks and Regards,&nbsp;<br />
          <br />
          <div>
            <div dir="ltr">
              <div dir="ltr">
                <div dir="ltr">
                  <table border="0" cellspacing="0" cellpadding="0" width="470">
                    <tbody>
                      <tr valign="top">
                        <td style="border-right:1px solid rgb(0,0,0);padding-right:10px;width:10px;max-width:120px"><img src="https://labglo.com/Email%20Signature/logo-footer.png" width="120" height="120" /><br /></td>
                        <td style="padding-left:20px;"><div><strong>HR Team</strong><br />
                        </div>
                            <div><strong>Labglo,&nbsp;</strong>2209, 2nd Floor, Yamuna&nbsp;Technopark Phase III&nbsp;</div>
                          <div>Trivandrum&nbsp;KERALA 695 581</div>
                          <div>p:+91-471- 4000543&nbsp;| e:<a href="mailto:info@labglo.com" target="_blank">info@labglo.com</a>&nbsp;| w:<a href="https://www.labglo.com/" target="_blank">www.labglo.com</a>&nbsp;| &nbsp;</div>
                        <div style="padding-top:10px;">
                            <i>
                            <a href="https://www.facebook.com/labglo/" target="_blank"><img alt="" src="https://labglo.com/Email%20Signature/facebook2.png" height="24" hspace="2" align="top" border="0" vspace="2" width="24" class="CToWUd"></a> 
                            <a href="https://www.linkedin.com/company/labglo" target="_blank"><img src="https://labglo.com/Email%20Signature/linkedin1.png" alt="" height="24" hspace="2" align="top" border="0" vspace="2" width="24" class="CToWUd"></a>
                            <a href="https://twitter.com/labglotech" target="_blank"><img alt="" src="https://labglo.com/Email%20Signature/twitter.png" height="24" hspace="2" align="top" border="0" vspace="2" width="24" class="CToWUd"></a>
                            <a href="https://www.pinterest.com/labglo/" target="_blank" ><img alt="" src="https://labglo.com/Email%20Signature/pinterest11.png" height="24" hspace="2" align="top" border="0" vspace="2" width="24" class="CToWUd"></a>
                            <a href="https://www.xing.com/companies/labglo" target="_blank"><img alt="" src="https://labglo.com/Email%20Signature/xing2.png" height="24" hspace="2" align="top" border="0" vspace="2" width="24" class="CToWUd"></a>
                            <a href="https://plus.google.com/102838373585456330318/about" target="_blank" ><img alt="" src="https://labglo.com/Email%20Signature/google-plus.png" height="24" hspace="2" align="top" border="0" vspace="2" width="24" class="CToWUd"></a>
                            <a href="https://www.reddit.com/user/labglo/" target="_blank" ><img alt="" src="https://labglo.com/Email%20Signature/reddit10.png" height="24" hspace="2" align="top" border="0" vspace="2" width="24" class="CToWUd"></a>
                            <span class="im"><br><br></span>
                            </i>
                        </div></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <em style="font-size:11px"><br />
        
          <img src="https://ci5.googleusercontent.com/proxy/5y_3VoN1xpu6zDLkiO_yMlMCaaPXtov_55CQP18MaArW1KAJc8W0Mg8PTEJPnAiaMGa2Vl7q62mD7sOuiD-HaspMrNw8=s0-d-e1-ft#https://labglo.com/Email%20Signature/plant13.png" alt="" width="24" height="24" hspace="1" vspace="1" />&nbsp;Please consider the environment before printing this e-mail</em>&nbsp;<em style="font-size:11px"><strong><br />
          <br />
          Confidentiality and Security:</strong>&nbsp;This e-mail and any associated files transmitted with it are confidential and solely for the intended recipient. If you are not the named addressee, do not disseminate, distribute, copy or alter this e-mail. If you have received this information in error, please notify the sender immediately and delete this communication permanently from your records.</em></td>
      </tr>
      
    </table></td>
  </tr>
</table>
</body>
</html>