{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>LabGlo : About Us</title>
{% endblock %}

{% block content %}

<!-- PAGE TITLE LARGE IMG -->
<div class="page-title-cont page-title-large page-title-img grey-dark-bg pt-250"
	style="background-image:url(/static/images/work-proc-bg.jpg)">
	<div class="relative container align-left">
		<div class="row">

			<div class="col-md-8">
				<h1 class="page-title">ABOUT US</h1>
				<div class="page-sub-title">
					Providing the skills needed to deliver results at pace </div>
			</div>

			<div class="col-md-4">
				<div class="breadcrumbs">
					<a href="{% url 'core:home' %}">Home</a><span class="slash-divider">/</span><span
						class="bread-current">ABOUT US</span>
				</div>
			</div>
		</div>
	</div>
	<div id="labglo"></div>
</div>

<!-- FEATURES 1 -->
<div class="page-section">
	<div class="container fes1-cont">
		<div class="row">

			<div class="col-md-4 fes1-img-cont wow fadeInUp mb-20">
				<img src="{% static 'images/phone-with-arrow.png' %}" alt="img">
			</div>

			<div class="col-md-8">

				<div class="row">
					<div class="col-md-12">
						<div class="fes1-main-title-cont wow fadeInDown">
							<div class="title-fs-60">
								About<br>
								<span class="bold">LabGlo</span>
							</div>
							<div class="line-3-100"></div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-12">
						<div class="fes1-box wow fadeIn">
							<p>At LabGlo, we are focused on providing technical solutions that adds value to the client,
								to help power their progress for the future ahead. We can assist you in implementing
								your ideas, whether it is instinctive web/ mobile apps, wildly sophisticated e-commerce
								systems or VOIP solutions and tackle any complicated challenges that come our way. We
								specialize in full stack Python / Django based development along with, PostgreSQL,
								MongoDB, AngularJS and Mobile Application development for Android and iOS. Our area of
								expertise includes innovative web and mobile based applications, ecommerce, Code
								optimization, and more... We are looking forward to forge an excellent long term work
								relation with all our clients and always welcome to approach us with your development
								needs.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="col-md-12 col-sm-12">
							<div class="fes1-box wow fadeIn">
								<h3>Vision</h3>
								<p>Our vision is to be the world's leading next generation technology solution and
									services provider for custom web and mobile application development.</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="fes1-box wow fadeIn" data-wow-delay="200ms">
								<h3>Mission</h3>
								<p>Our mission is to create superior value experience for our clients and employees. We
									strive to reach greater height by focusing on reliability, expertise and cost
									efficiency. We are committed to deliver exceptional service and value and expect to
									be accountable for results.</p>

							</div>

						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<img src="{% static 'images/target.png' %}" alt="Vission and Mission" class="target">
					</div>

				</div>

			</div>

		</div>
		<div id="key" style="float:left; width:100%;margin-top:100px;"></div>
	</div>

</div>

<div class="page-section clearfix">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fes1-main-title-cont wow fadeInDown">
					<div class="title-fs-60">
						Key <br>
						<span class="bold">People</span>
					</div>
					<div class="line-3-100"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-section p-140-cont  grey-light-bg" style="margin-bottom:60px;">
	<div class="container">
		<div class="row mb-100">

			<div class="member wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
				<div class="row mb-40">
					<div class="col-md-8">
						<blockquote class="testimonial-2">
							<p>Jayapal Dharmamani is the mastermind behind the creation of LabGlo Technologies. As a

								CEO, Jayapal plays the key role in providing technical leadership and overall management

								including software develpoment and strategic direction. Jayapal, the Open Source
								crusader and Python and

								Django as his forte having 10+ years of experience in the IT industry has remarkable
								insight to technical

								and strategic areas. He strongly acknowledges the vital importance of employee
								motivation

								and satisfaction, and strives to take LabGlo to greater levels of success. He is an
								alumnus of

								Anna University, Chennai.
							</p>
						</blockquote>
					</div>

					<div class="col-md-4 col-md-offset-0">
						<div class="ts-author-cont">
							<div class="ts-author-info">
								<div class="ts-name">
									<span class="bold">Jayapal Dharmamani</span>
								</div>
								<div class="ts-type">Founder & CEO</div>
							</div>
							<div class="ts-author-img">
								<img alt="photo" src="{% static 'images/ts-author-2.png' %}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
				<div class="row mb-40">
					<div class="col-md-8">
						<blockquote class="testimonial-2">
							<p>Karthikaa KS leads all aspects of talent acquisition and training. She oversaw the team
								responsible for Training, policy and procedure implementation, human resources along
								with
								supporting IT/facilities. Prior to LabGlo, she served Flytxt as a Sr.Software Engineer.
								Ms.Karthikaa KS is an alumnus of Anna University
							</p>
						</blockquote>
					</div>

					<div class="col-md-4 col-md-offset-0">
						<div class="ts-author-cont">
							<div class="ts-author-info">
								<div class="ts-name">
									<span class="bold">Karthikaa KS</span>
								</div>
								<div class="ts-type">Director</div>
							</div>
							<div class="ts-author-img">
								<img alt="photo" src="{% static 'images/karthika.png' %}">
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>


	</div>
	<div id="tech"></div>
</div>
<!-- FEATURES 7 -->

<div class="page-section  clearfix">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fes1-main-title-cont wow fadeInDown">
					<div class="title-fs-60">
						Our <br>
						<span class="bold">Technologies</span>
					</div>
					<div class="line-3-100"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-section clearfix">

	<div class="container">
		<div class="row">
			<div class="col-md-12  fes7-text-cont p-80-cont  ">
				<!-- <h1><span class="font-light"></span></h1>-->
				<p class="mb-60">
					Our technologies support each client's unique business aspects, workflow processes, and technical
					requirements. </p>

				<div class="row">
					<!-- CLIENTS 1 -->
					<div class="col-md-12">
						<div class="row client-row border-bot client-logos">
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Python"
									src="{% static 'images/a.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Django"
									src="{% static 'images/b.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Cisco DevNet"
									src="{% static 'images/c.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Angular"
									src="{% static 'images/d.png' %}"> </div>
						</div>
						<div class="row client-row border-bot client-logos">
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Apple"
									src="{% static 'images/e.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Android"
									src="{% static 'images/f.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Google App Engine"
									src="{% static 'images/g.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Geo Targeting"
									src="{% static 'images/h.png' %}"> </div>
						</div>
						<div class="row client-row border-bot client-logos">
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Node JS"
									src="{% static 'images/i.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Crescent"
									src="{% static 'images/j.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="MongoDB"
									src="{% static 'images/k.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Hadoop"
									src="{% static 'images/l.png' %}"> </div>
						</div>
						<div class="row client-row client-logos">
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Asterisk-Server"
									src="{% static 'images/m.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="D3 JS"
									src="{% static 'images/n.png' %}"> </div>

						</div>
						<div id="client"></div>
					</div>
				</div>
			</div>
		</div>
		<!--end of row-->
	</div>
</div>

<!-- CLIENTS 1 & TESTIMONIALS 1 -->
<div class="page-section p-110-cont">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fes1-main-title-cont wow fadeInDown">
					<div class="title-fs-60">
						Clients & <br>
						<span class="bold">Partners</span>
					</div>
					<div class="line-3-100"></div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12">
				<div class="row client-row border-bot">
					<div class="col-xs-12 col-sm-12 text-left">We have some amazing clients and partners with whom we
						share an excellent strategic alliance. Our interesting array of clientele includes companies
						that are startup, well established corporations, nonprofit organizations and individual
						entrepreneurs. Our team of developers works in tandem with our clients to deliver the best
						solutions for their businesses. </div>

					<!--<div class="col-xs-6 col-sm-3 text-center">
	              <img alt="client" src="images/clients/1.png">
	            </div>
	          
	            <div class="col-xs-6 col-sm-3 text-center">
	              <img alt="client" src="images/clients/2.png">
	            </div>
	          
	            <div class="col-xs-6 col-sm-3 text-center">
	              <img alt="client" src="images/clients/3.png">
	            </div>
	          
	            <div class="col-xs-6 col-sm-3 text-center">
	              <img alt="client" src="images/clients/4.png">
	            </div>-->
				</div>
				<div class="row">
					<!-- CLIENTS 1 -->
					<div class="col-md-12">
						<div class="row client-row border-bot client-logos">
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="BOOKON"
									src="{% static 'images/client-logos/i.jpg' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="PW"
									src="{% static 'images/client-logos/b.jpg' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="NEELTECH"
									src="{% static 'images/client-logos/c.jpg' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="COURSE CENTRO"
									src="{% static 'images/client-logos/d.jpg' %}"> </div>
						</div>
						<div class="row client-row client-logos border-bot">
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Tech Bridge"
									src="{% static 'images/client-logos/e.jpg' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="SUITOPIA"
									src="{% static 'images/client-logos/f.jpg' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Class Management"
									src="{% static 'images/client-logos/g.jpg' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Hubster"
									src="{% static 'images/client-logos/h.jpg' %}"> </div>
						</div>
						<div class="row client-row client-logos">
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="RiskWave"
									src="{% static 'images/client-logos/a.jpg' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="Maxtec"
									src="{% static 'images/client-logos/j.jpg' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="First Option"
									src="{% static 'images/client-logos/k.png' %}"> </div>
							<div class="col-xs-6 col-sm-3 text-center"> <img alt="PAN"
									src="{% static 'images/client-logos/l.png' %}"> </div>
						</div>
						<div id="social"></div>
					</div>
					<!-- TESTIMONIALS 1 -->
				</div>
				<!--<div class="row client-row">

	            <div class="col-xs-6 col-sm-3 text-center">
	              <img alt="client" src="images/clients/5.png">
	            </div>
	          
	            <div class="col-xs-6 col-sm-3 text-center">
	              <img alt="client" src="images/clients/6.png">
	            </div>
	          
	            <div class="col-xs-6 col-sm-3 text-center">
	              <img alt="client" src="images/clients/7.png">
	            </div>
	   

	            <div class="col-xs-6 col-sm-3 text-center">
	              <img alt="client" src="images/clients/8.png">
	            </div>

	        </div>-->
			</div>
		</div>
	</div>
</div>

<div class="page-section  grey-light-bg clearfix">
	<div class="row">
		<div class="fes7-img-cont col-md-5">
			<div class="fes7-img" style="background-image:url(/static/images/fes7b.jpg)"></div>
		</div>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-6 fes7-text-cont p-80-cont">
				<div class="fes1-main-title-cont wow fadeInDown">
					<div class="title-fs-60">
						Social<br>
						<span class="bold">Responsibility </span>
					</div>
					<div class="line-3-100"></div>
				</div>
				<!-- <h1><span class="font-light"></span></h1>-->
				<p class="mb-60"><I>
						Action springs not from thought, but from a readiness for responsibility. ~Dietrich
						Bonhoeffer.</I><br /><br />

					We try to incorporate our commitment towards social responsibilities on to every aspects of our
					day-to-day work. We maintain a positive and environment- friendly atmosphere for our employees and
					encourage them to involve in initiatives that benefits the society. </p>

				<div class="col-md-12 col-sm-12">
					<div class="fes1-box wow fadeIn" data-wow-delay="200ms">
						<h3>Giving back to society:</h3>
						<p> ‘Thejus’ is an NGO promoting voluntary blood donation, financial assistance for needy
							and much more. We are committed to work with Thejus in extending a helping hand
							to those in dire straits.</p>
					</div>
				</div>
			</div>
		</div>
		<!--end of row-->
	</div>
</div>
<!-- VIDEO ADS 1 -->


<!-- COUNTERS 1 -->


<!-- NEWS LETTER -->

{% endblock %}