{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>LabGlo : Services</title>
{% endblock %}

{% block content %}

	<!-- PAGE TITLE LARGE IMG -->
	<div class="page-title-cont page-title-large page-title-img grey-dark-bg pt-250" style="background-image:url(/static/images/work-proc-bg.jpg)">
	  <div class="relative container align-left">
	    <div class="row">
	       
	      <div class="col-md-8">
	        <h1 class="page-title">SERVICES</h1>
	        <div class="page-sub-title">
	         Providing the skills needed to deliver results at pace                </div>
	      </div>
	       
	      <div class="col-md-4">
	        <div class="breadcrumbs">
	          <a href="{% url 'core:home' %}">Home</a><span class="slash-divider">/</span><span class="bread-current">Services</span>
	        </div>
	      </div>
	    </div>
	  </div><div class="container-fluid" id="webap"></div>
	</div>
			
			<!-- FEATURES 1 -->
			
	  <div class="page-section grey-light-bg clearfix">
	  <div class="fes7-img-cont col-md-5">
	    <div class="fes7-img" style="background-image:url(/static/images/fes7c.jpg)"></div>
	             
	  </div>
	  
	  <div class="container">

	 
	    <div class="row">
	     
	      <div class="col-md-6 col-md-offset-6 fes7-text-cont p-80-cont">
	            <div class="fes1-main-title-cont wow fadeInDown">
	              <div class="title-fs-60">
	               Web Application<br>
	                <span class="bold">Development </span>                      </div>
	              <div class="line-3-100"></div>
	            </div>
	       <!-- <h1><span class="font-light"></span></h1>-->
	        <p class="mb-60">
	       Exceptional ideas inspire us and we'd love to hear about yours. Everything begins with exploring together with the full potential of your ideas; guiding you on what is possible, what to prioritize to meet your business objectives and how to make within your budget.
	Whether it's a high level enterprise business tool you're after, a native mobile app, we have the skills and technologies to design and develop a great looking, resilient and scalable system to a mutually agreed budget and time span.<br/><br/>Once you're up and running we'll continue the support of your application. As your business grows and you learn more about your business, we will work with you to make sure your application is capable to meet the new or changing needs.
	<br/><br/>

	Django is an incredibly, high-level Python web framework that assists developers in realizing the ‘concept to completion’ task in a more simple and quicker way.
	We at LabGlo, are the pioneers in handling Python / Django based web applications. We build and maintain high quality web applications that are secure and with less code.


	        <!--<div class="col-md-12 col-sm-12">
	            <div class="fes1-box wow fadeIn" data-wow-delay="200ms">
	              <h3>Giving back to society:</h3>
	              <p>  ‘Thejus’ is an NGO promoting voluntary blood donation, financial assistance for needy                                                                                                                                                       
	                and much more. We are committed to work with Thejus in extending a helping hand                
	to those in dire straits.</p>
	            </div>
	          </div>--><div class="container-fluid" id="mobser"></div>
	      </div>
	    </div><!--end of row-->
	  </div>
	</div>
	<div id="about" class="page-section">
	   
				<div class="container fes1-cont">
					<div class="row">
	    
						
	      
						<div class="col-md-8">
	      
	        <div class="row">
	          <div class="col-md-12">
	            <div class="fes1-main-title-cont wow fadeInDown">
	              <div class="title-fs-60">
	               Mobility <br>
	                <span class="bold">Services</span>                      </div>
	              <div class="line-3-100"></div>
	            </div>
	          </div>
							</div>
	            
	        <div class="row">
	            
	          <div class="col-md-12">
	            <div class="fes1-box wow fadeIn" >
	                             <p>Mobility stands for the future: how companies interact with customers, employees, investors and system as everyone rapidly access the Internet and control the world from the palm of our hands. LabGlo offers a wide range of tools and services for the mobile enterprise that moves with the pace of its customers.
	Our Mobile App Development and application management services are built over the extensive years of traditional expertise. The universal acceptance and the overabundance of mobile devices and operating system not only increase the challenges but also make it mandatory to have a very good management model around it.
	<br/><br/>
	We Specialize in…<br/>
	<strong>Mobile clients to web services and web portals</strong><br/>
	<strong>Autonomous mobile applications</strong><br/>
	<strong>End-to-end mobility solutions</strong><br/>
	<strong>Mobile Development Professional Services</strong><br/>
	<strong>Cross Platform Application Development</strong></p>
	            </div>
	          </div>
	        </div> <div class="container-fluid" id="voip"></div>
						</div>
	                    
	              <div class="col-md-4 fes1-img-cont wow fadeInUp mb-20 mt-80">
							<img src="{% static 'images/mservice.jpg' %}" alt="Mobility Services" >							</div>
	    </div>
				</div>
			</div>
	        
	      <div class="page-section grey-light-bg clearfix">
	  <div class="fes7-img-cont col-md-5">
	    <div class="fes7-img" style="background-image:url(/static/images/voip.png)"></div>
	  </div>
	  
	  <div class="container">
	         
	    <div class="row">
	      <div class="col-md-6 col-md-offset-6 fes7-text-cont p-80-cont">
	            <div class="fes1-main-title-cont wow fadeInDown">
	              <div class="title-fs-60">
	               VOIP<br>
	                <span class="bold">Services </span>                      </div>
	              <div class="line-3-100"></div>
	            </div> 
	       <!-- <h1><span class="font-light"></span></h1>-->
	        <p class="mb-20">
	      Our VoIP solutions make it simple to automate communications, connecting your codes to the telephone network with both voice and messaging. We can use the web technologies you already using and a powerful cloud API to bring real-time communications to your applications.               </p>
	       <p class="mb-20">
	     With our tailor made system you can create calls and transcribe it. There's no need to learn new technologies, languages, grapple with complex VoIP software, or research about telephony.
	We believe in a truly open, customizable telephony platform which is critical to ensure our solution exactly meets the needs of our client’s  business.    </p>
	<p class="mb-20">
	     Our VoIP is masters in installation, configuration and maintenance of all types of VoIP system ranging from small scale systems to large enterprise level solutions. Some of the VoIP softwares and VoIP products we are proficient with are Asterisk, Tropo, A2billing, Freeswitch, Elastix, MOR billing, OpenSER etc.  </p>
	        <div class="container-fluid" id="devops"></div>
	      </div>
	    </div><!--end of row-->
	  </div>
	</div>
	        
	  <div id="about" class="page-section">
	         
				<div class="container fes1-cont">
					<div class="row">
	    
						
	      
						<div class="col-md-7">
	      
	        <div class="row">
	          <div class="col-md-12">
	            <div class="fes1-main-title-cont wow fadeInDown">
	              <div class="title-fs-60">
	                 
	                <span class="bold">DevOps</span>                      </div>
	              <div class="line-3-100"></div>
	            </div>
	          </div>
							</div>
	            
	        <div class="row">
	            
	          <div class="col-md-12">
	            <div class="fes1-box wow fadeIn" >
	                             <p>DevOps is neither a tool nor a product. It's an approach to operations. It’s a collective function by the development and operations teams to automate and standardize processes for deployment, you get faster innovation, accelerated time to market, boost the quality of deployement, improved operational efficiency, and more time to focus on the core business objectives.</p>
	                             
	                              <p>A successful transformation  begins with a process which breaks down traditional development/operations, promotes communication between everyone involved in launching applications, and foreground persistent process and product enhancement.
	Continuous refinement is central to DevOps, and you can't revamp what you can't measure.</p>
	            </div>
	          </div>
	        </div>
						</div>
	                    
	              <div class="col-md-5 fes1-img-cont wow fadeInUp mb-20 mt-80">
							<img src="{% static 'images/develop.png' %}" alt="DevOps" class="develop" >							</div>
	    </div>
				</div>
			</div>
	<div class="divider divider-center"><i class="fa fa-circle"></i></div>

{% endblock %}
